body{
    background-image: url("bg.jpg");
}

h1{
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: rgb(252, 252, 252);
    text-shadow: 2px 2px 5px rgb(142, 10, 230);
    
}

#img1{
    padding-top: 50px;
    margin-left: 336px;
    border-radius: 50%;
}


#img2{
    padding-top: 50px;
    position: absolute;
    top: 20%;
    left: 58%;
    transform: rotateY(180deg);
    border-radius: 50%;
}

#rock{
    position: absolute;
    left: 400px;
    top: 75%;
    visibility: hidden;
}

#paper{
    position: absolute;
    left: 620px;
    top: 75%;
    visibility: hidden;
}

#scissor{
    position: absolute;
    top: 75%;
    left: 820px;
    visibility: hidden;
}

button{
    height: 80px;
    width: 140px;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: floralwhite;
    border: solid 4px floralwhite;
    border-radius: 44px;
    cursor: pointer;
}

#start{
    background-color: rgb(0, 0, 0);
    position: absolute;
    color: floralwhite;
    border: solid 4px floralwhite;
    top: 75%;
    left: 45%;
}

@keyframes shakeLeft {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes shakeRight {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
}